{% load i18n %}

{% if user.is_authenticated %}
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Menu</li>
        <li class="active"><a href="#">{% trans "Post" %}</a></li>
        <li><a href="#">{% trans "Shedule" %}</a></li>
        <li><a href="#">{% trans "Promotion" %}</a></li>
        <li><a href="#">{% trans "Notifications" %}</a></li>
        <li><a href="#">{% trans "Reports" %}</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
{% endif %}